<main class="row no-gutters auth-in-page">
  <div class="col col-lg-4 side-left">
    <div class="auth-area">
      <div class="logo-box text-center">
        <h1>FLOWER</h1>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="col side-right">
    <div class="logo-area">
      <h3>The Platform</h3>
      <p class="m0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut illo maiores temporibus aliquam beatae amet quod officia ratione repudiandae cumque eum assumenda rerum ullam architecto soluta, magni ea cupiditate ad.</p>
    </div>
    <span class="overlay"></span>
  </div>
</main>
