<main class="row no-gutters auth-in-page">
  <div class="col col-lg-4 side-left">
    <div class="auth-area">
      <div class="logo-box text-center">
        <a href="https://avisare.com/" target="_blank">
          <img src="assets/images/logo/logo.svg" alt="Avisare">
        </a>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="col side-right">
    <div class="logo-area">
      <h3>Leveling the Playing Field for Procurement</h3>
      <p class="m0">The connected network for government RFx marketing, vendor submissions, outreach tracking, compliance management and Tier 1 engagement.</p>
    </div>
    <span class="overlay"></span>
  </div>
</main>
