<header role="navigation" class="header">
  <div class="row justify-content-between align-items-center no-gutters">
    <div class="col-8">
      <ng-content></ng-content>
    </div>
    <div class="col text-right">
      <ul class="nav navbar-nav">
        <li hidden>
          <a href>
            <i class="fa fa-envelope"></i>
          </a>
        </li>
        <li *ngIf="employee$ | async as employee">
          <div class="company-panel" dropdown placement="bottom right">
            <a href class="overflow-ellipsis" (click)="false" dropdownToggle>
              {{ employee.company ? employee.company.name : employee.firstName + ' ' + employee.lastName }}
            </a>
            <div class="img-area" *ngIf="employee.Company">
              <img [src]="employee.Company.Image.url" [alt]="employee.Company.name" />
            </div>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
              <li>
                <button type="button" class="dropdown-item" (click)="logout(); false">
                  Logout
                  <i class="fa fa-sign-out-alt"></i>
                </button>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
