<form [formGroup]="form" novalidate (submit)="login()">
  <h4 class="mb-4">Log In</h4>
  <div class="form-label">
    <input formControlName="email" type="email" id="email" class="form-control">
    <label for="email">Email</label>
    <fl-control-messages [control]="form.get('email')"></fl-control-messages>
  </div>
  <div class="form-label">
    <input formControlName="password" type="password" id="password" class="form-control">
    <label for="password">Password</label>
    <fl-control-messages [control]="form.get('password')"></fl-control-messages>
  </div>
  <div class="form-group">
    <button class="btn btn-success btn-block btn-lg" [disabled]="formDisabled">
      <fl-spinner fill="#fff"></fl-spinner>
      <span>Log In</span>
    </button>
  </div>
  <div class="text-help">
    <p>
      Don't have an Avisare account?
      <br>
      <a routerLink="/signup">Sign up now</a>!
    </p>
  </div>
</form>
