<div class="row mb-4">
  <div class="col-8" *ngIf="employees && company">
    <div class="row no-gutters align-items-center">
      <div class="col-3">
        <button class="btn btn-primary" id="button-add-new-user" (click)="openAddEmployeeModal()">
          <i class="fa fa-plus"></i>
          Add new
        </button>
      </div>
      <div class="col">
        <strong>Company "{{company.name}}":</strong>
        {{employees?.length}} user{{employees?.length === 1 ? '' : 's'}}
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="form-row align-items-center">
      <div class="col">
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="input-group_button btn btn-outline-secondary" id="btn-search" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
          <input type="text" class="form-control" id="search" placeholder="search by name...">
        </div>
      </div>
    </div>
  </div>
</div>

<table class="table employees-table">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Job Title</th>
      <th>Department</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees; let i = index">
      <td>
        <div>
          <div class="short-information">
            <div class="img-holder">
              <img [src]="employee?.photoURL" [alt]="employee.firstName">
            </div>
            <div>
              <div>
                <div>{{employee.firstName}} {{employee.lastName}}</div>
              </div>
              <span class="text-grey">#{{i + 1}}</span>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div>{{employee.jobTitle}}</div>
      </td>
      <td>
        <div>{{employee.department}}</div>
      </td>
      <td>
        <div class="button-group">
          <button type="button" class="btn btn-icon" (click)="openAddEmployeeModal(i)">
            <i class="fas fa-pencil-alt"></i>
          </button>
        </div>
      </td>
    </tr>
    <tr *ngIf="isLoading">
      <td colspan="7">
        <fl-spinner></fl-spinner>
      </td>
    </tr>
    <tr *ngIf="!isLoading && !employees.length">
      <td colspan="7" class="text-center">
        No Search Results
      </td>
    </tr>
  </tbody>
</table>