<fl-spinner *ngIf="isLoading && !services?.length"></fl-spinner>
<div class="detailed-block" *ngIf="!isLoading || services?.length">
  <div class="card-frame" *ngFor="let service of services">
    <div class="card-info">
      <div class="card-panel">
        <div class="row">
          <div class="col">
            <h4 class="card-panel__title">
              <a class="card-panel__title-link" [routerLink]="['/services', service.id]">{{service.title}}</a>
            </h4>
            <div class="company-categories">
              <div class="text-dark" *ngIf="service.price">
                <div class="text-grey">Price</div>
                {{ service.price | currency: 'USD' : 'symbol-narrow' : '1.0-0'}}
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card-controls">

                  <a class="btn btn-icon btn-lg" [routerLink]="['/services', service.id, 'edit']">
                    <i class="fas fa-pencil-alt"></i>
                  </a>
               
                  <button type="button" class="btn btn-icon btn-lg" (click)="deleteService(service.id)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
            </div>
          </div>
        </div>
        <p>
          <fl-see-more [dataIn]="service.summary" [lengthText]="150" [includeHtml]="true" [cutOnly]="true">
            <a [routerLink]="['/services', service.id]" *ngIf="service.summary?.length >= 150">See more</a>
          </fl-see-more>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <div class="btn-group" *ngIf="services?.length < totalCount">
    <button type="button" id="qa-load-more" class="btn btn-outline-primary" (click)="loadMore()">Load more</button>
  </div>
  <span *ngIf="!isLoading && !services?.length">No Services</span>
</div>