<div class="sign-wrapper">
  <header class="welcome-header">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h1>FLOWER</h1>
        <a class="login-lnk" routerLink="/login" id="qa-login-link-2">
          Log in
        </a>
      </div>
    </div>
  </header>
  <div class="sign-up-content">
    <form [formGroup]="form" novalidate class="sign-up-area">
      <div formGroupName="user">
        <div class="step-holder">
          <h1 class="text-center">WE'RE GLAD YOU'RE HERE!</h1>
          <p>
            Join us and have a great time providing or consuming different services with customizable features.
          </p>
          <div class="form-row">
            <div class="col">
              <div class="form-label">
                <input type="text" id="first_name" class="form-control" formControlName="firstName" [maxlength]="maxLengths.user.firstName"
                />
                <label for="first_name">First Name</label>
                <fl-control-messages [control]="form.get('user.firstName')"></fl-control-messages>
              </div>
            </div>
            <div class="col">
              <div class="form-label">
                <input type="text" id="last_name" class="form-control" formControlName="lastName" [maxlength]="maxLengths.user.lastName"
                />
                <label for="last_name">Last Name</label>
                <fl-control-messages [control]="form.get('user.lastName')"></fl-control-messages>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <div class="form-label">
                <input type="email" id="email" (blur)="checkEmail()" class="form-control" formControlName="email" autocomplete="off" />
                <label for="email">Email Address</label>
                <fl-control-messages [control]="form.get('user.email')" [messages]="{ uniqDomain: 'This email domain is already taken' }"></fl-control-messages>
              </div>
            </div>
            <div class="col">
              <div class="form-label">
                <fl-password formControlName="password" [email]="form.get('user.email')"></fl-password>
                <label for="password">Password</label>
                <fl-control-messages [control]="form.get('user.password')"></fl-control-messages>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label>What kind of user you are?</label>
              <div class="form-row">
                <div class="col">
                  <label>
                    <input type="radio" id="user-type-vendor" value="vendor" formControlName="role" /> Vendor
                  </label>
                  <label class="ml-3">
                    <input type="radio" id="user-type-client" value="client" formControlName="role" /> Client
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="form.get('user.role').value === 'vendor'" formGroupName="company">
        <div class="form-row">
          <div class="col">
            <div class="form-label">
              <input type="text" id="company_name" class="form-control" formControlName="name" [maxlength]="maxLengths.company.name"
              />
              <label for="company_name">Company Name</label>
              <fl-control-messages [control]="form.get('company.name')"></fl-control-messages>
            </div>
          </div>
          <div class="col">
            <div class="user-photo">
              <label>Company cover</label>
              <fl-image-select formControlName="coverImage" [placeholder]="defaultImage.company.logo"
                [iconUpload]="true" [size]="imageSize.company.cover"></fl-image-select>
            </div>
          </div>
        </div>
        <div class="form-group full-width col p0">
          <label for="description">About Your Company</label>
          <fl-editor formControlName="description" id="description" [maxLength]="maxLengths.company.about"></fl-editor>
          <fl-control-messages [control]="form.get('company.description')"></fl-control-messages>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <button class="btn btn-success btn-block"  id="qa-create-account" (click)="createProfile()" [disabled]="formDisabled">
            <fl-spinner fill="#fff"></fl-spinner>
            <span>Create Account</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" bsModal #successModal="bs-modal" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close pull-right" aria-label="Close" (click)="successModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <h4 class="modal-title pull-left">You are ready!</h4>
          <!-- <ng-container *ngIf="existCompany; else newCompany">
            <p>The email will be sent to
              <strong>{{ form.get('user.email').value }}</strong>
              after you will be approved by administrator.
            </p>
            <p>Click on the link to activate your account.</p>
          </ng-container> -->
          <!-- <ng-template #newCompany> -->
            <p>Have a greate time using the <strong>FLOWER</strong> services.
            </p>
          <!-- </ng-template> -->
        </div>
      </div>
    </div>
  </div>
</div>
