<div class="table-responsive">
  <!-- 248px - left nav width, 3.75 rem - left and right paddings -->
  <!-- <ng-template [ngIf]="isBrowser" [ngIfElse]="tableHeader">
    <sticky sticky-width="calc(100% - 248px - 3.75rem)">
      <ng-container [ngTemplateOutlet]="tableHeader"></ng-container>
    </sticky>
  </ng-template>
  <ng-template #tableHeader>
    <table class="table companies-table">
      <tr aviSorting [config]="configSortingHeader" (changeSort)="onChangeSort($event)" class="rfps-theme"></tr>
    </table>
  </ng-template> -->
  <table class="table companies-table">
    <tr>
      <th>Service</th>
      <th>Owner</th>
      <th></th>
    </tr>
  </table>
  <table class="table companies-table mb-0">
    <tbody>
      <tr *ngFor="let service of services; trackBy: trackById">
        <td>
          <div class="row no-gutters">
            <div class="col-12">
              <h5 class="card-panel__title">
                <a class="card-panel__title-link" [routerLink]="['/services', service.id]">
                  {{service.title}}
                </a>
                <span class="card-panel__badge badge badge-success" *ngIf="service.status">{{ service.status }}</span>
              </h5>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="mb-3 col-9">
              <span class="text-grey">ID: {{ service.id }}</span>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-9">
              <div class="text-dark">
                <div class="text-grey text-uppercase">Price</div>
                {{ service.price | currency: 'USD' : 'symbol-narrow' : '1.0-0'}}
              </div>
            </div>
          </div>
          <div class="row no-gutters">
              <fl-see-more [dataIn]="service.summary" [lengthText]="150" [includeHtml]="true">
              </fl-see-more>
          </div>
        </td>
        <td>
          <div class="text-dark">
            {{ service.owner.company.name }}: {{ service.owner.firstName + ' ' + service.owner.lastName }}
          </div>
        </td>
        <td>
          <div class="mt-2">
            <div class="card-controls">
              <div class="relative" dropdown placement="right">
                <button dropdownToggle type="button" class="drop-control btn dropdown-toggle">
                  <div class="control">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </button>
                <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                  <li class="dropdown-item-default">
                    <button type="button" class="btn btn-link btn-block text-right" (click)="openOrderModel(service)">
                      Order
                    </button>
                  </li>
                  <ng-template [ngIf]="!hideCompanyOptions">
                      <li class="dropdown-item-default">
                        <button type="button" class="btn btn-link btn-block text-right" (click)="openCompanyReviewModal(service.owner.id)">
                          Company review
                        </button>
                      </li>
                      <li class="dropdown-item-default">
                        <a class="btn btn-link btn-block text-right" [routerLink]="['/companies', service.owner.id]">
                          Company profile
                        </a>
                      </li>
                  </ng-template>
                </ul>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" bsModal #successModal="bs-modal" [config]="{ backdrop: 'static', size: 'lg', centered: true }">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <div class="text-center">
            <h4 class="modal-title pull-left">Thank you!</h4>
              <p>You can close the window now.</p>
          </div>
        </div>
      </div>
    </div>
  </div>