<div class="input-group">
  <input type="password" id="password" class="form-control" [ngClass]="{ 'ng-touched': touched, 'ng-invalid': invalid }" [disabled]="disabled"
    [placeholder]="placeholder" (keyup)="change($event)" (blur)="touch()" #input autocomplete="off" />
  <div class="input-group-append">
    <span class="input-group-text">
      <i class="fa" [class.fa-eye]="isTypePassword" [class.fa-eye-slash]="!isTypePassword" (click)="toggleType()"></i>
    </span>
  </div>
</div>
<div class="password-strength" *ngIf="!invalid && passwordStrength?.score >= 0">
  <strong>Password strength</strong>:
  <span>{{ passwordStrength?.type?.text }}</span>
  <div class="progress">
    <div class="progress-bar bg-{{ passwordStrength?.type?.class }}" [style.width.%]="100 / 4 * (passwordStrength?.score || 1)"></div>
  </div>
  <small class="text-muted">{{ passwordStrength?.feedback?.warning }}</small>
</div>
