@import '../../../assets/scss/utils/mixins';
@import '../../../assets/scss/utils/bootstrap-variables';

.input-group-addon {
  .fa {
    cursor: pointer;
    user-select: none;
  }
}

.password-strength {
  margin-top: 0.5rem;

  .progress {
    margin: 0.2rem 0;
  }
}

.input-group-text {
  height: $input-height-base;
  display: flex;
  align-items: center;
}
